/* Container card styles */
.card {
    width: 100%;
}
.cardHeaderAction {
    align-self: center;
}

/* Avatar styles */
.avatarImage {
    width: 60px;
}

/* Collapse content styles */
.collapseContent {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* Amorphous card styles */
.amorphousCard {
    background-color: #2b2f38;
}

.amorphousHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #15171c;
    padding: 10px 0;
}

.amorphousTitle {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    position: relative;
}

.amorphousImage {
    width: 45px;
    position: absolute;
    left: -30%;
    top: -25%;
}

/* Card actions styles */
.amorphousCardActions {
    display: flex;
    background-color: rgb(21, 23, 28);
    padding: 0;
}

.actionButton {
    flex: 1;
    border-radius: 0 0 0 5px;
    gap: 5px;
}

.actionButtonLast {
    flex: 1;
    border-radius: 0 0 5px 0;
    gap: 5px;
    position: relative;
}

/* Card content item styles */
.cardContentItem {
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    padding: 5px;
    background-color: rgb(21, 23, 28);
    justify-content: center;
    align-items: center;
    height: 60px;
}

.rewardName{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.rewardCardActions{
	justify-content: center;
}

.rewardDropRate {
    font-weight: bold;
}